.next/
node_modules/
out/
dist/
coverage/

.env
.env*.local

*.tsbuildinfo

.DS_Store
.vscode/
.playwright-cli/

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example

!.env.example
