.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 4rem 1rem;
    gap: 2rem;

    max-width: 1100px;
    margin: 0 auto;
}

.hero-logo {
    width: clamp(160px, 20vw, 280px);
    height: auto;
}

.hero-content {
    max-width: 650px;
}

.hero h1 {
    font-size: clamp(2rem, 4vw, 3rem);
    margin: 0;
}

.subtitle {
    opacity: 0.8;
    margin-top: 0.5rem;
}

.hero-buttons {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* buttons */
.btn {
    padding: 12px 28px;
    border: 2px solid var(--text);
    color: var(--text);
    text-decoration: none;
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
    color: var(--hover);
    border-color: var(--hover);
}