<div class="card">

    @if (!string.IsNullOrEmpty(Title))
    {
        <h3 class="card-title">@Title</h3>
    }

    <div class="card-body">
        @ChildContent
    </div>

</div>

@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }
}