@page "/logo"

<PageTitle>Logo - Elemental Utopia</PageTitle>
<div class="hero">
    
    <picture>
        <source srcset="/images/LightSmall.jpg" media="(prefers-color-scheme: light)">
        <img class="hero-logo" src="/images/DarkSmall.jpg" alt="Elemental Utopia" />
    </picture>
    
    <div class="hero-content">

        <br />
        <h1>
        Our logo
        </h1>
        <p>
        Our logo is made up of the four elements and the sun.<br /><br />

        Each element represents a core part of the process, earth, water, air, and fire, while the sun binds them together as the source of energy and creation. It represents the harmony behind every coffee we craft.<br /><br />

        Earth represents grounding and foundation, the stability behind every cup, from sourcing to preparation.<br /><br />

        Water reflects flow and balance, shaping extraction and bringing everything together smoothly.<br /><br />

        Air symbolises precision and clarity, the attention to detail in every step.<br /><br />

        Fire represents transformation, where raw ingredients are turned into something bold, rich, and alive.<br /><br />

        The sun sits at the centre of it all. It is the source of energy that connects every element, representing warmth, intention, and the life behind every drink we serve.
        </p>
    </div>
</div>