@page "/menu"

<PageTitle>Menu - Elemental Utopia</PageTitle>

<div class="text-center py-5">
    <img src= "images/Menu.png" 
        alt = "Menu image"
        style = "max-width:120vw; max-height: 100vh;"
        
        class="mb-4"/>
    
    <h2 style="font-size: clamp(30px, 2vw, 45px);">Prices Currently Unset</h2>
</div>