@if (IsOpen)
{
    <div class="modal-backdrop" @onclick="Close">
        <div class="modal" @onclick:stopPropagation="true">

            <button class="close-btn" @onclick="Close">✕</button>

            <h2>@Title</h2>

            <div class="modal-body">
                @ChildContent
            </div>

        </div>
    </div>
}

@code {
    [Parameter] public bool IsOpen { get; set; }
    [Parameter] public EventCallback<bool> IsOpenChanged { get; set; }

    [Parameter] public string Title { get; set; } = "Experiment";
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private async Task Close()
    {
        await IsOpenChanged.InvokeAsync(false);
    }
}